{% extends "base.html"%}
{% block title%}boggle{% endblock %}
{% block content %}
<h1>Boggle Game</h1>
<ul>
    {% for the_line in game_board %}
        <li>
            {% for char in the_line %}
                <div>
                    <p>{{char}}</p>
                </div>
            {% endfor %}
        </li>
    {% endfor %}
</ul>

<h3 id="show_msg"></h3>

<form id="submit_form">
    <label for="guess">Enter Guess Letter:</label><br>
    <input type="text" id="guess" name="guess_val"><br>
    <input type="submit">
</form>

<div>
    <h2>Score:<span id="score">0</span></h2>
    <h2>TimeOut:<span id="timeOut">60</span></h2>
</div>

{% endblock %}